A {
	text-decoration: none;
}

BODY, TD {
	font-family: Verdana,Arial,Helvetica;
	font-size: 10pt;
	background-color: black;
	color: white;
}

SMALL {
	font-family: Verdana,Arial,Helvetica;
	font-size: 8pt;
}

BIG {
	font-family: Verdana,Arial,Helvetica;
	font-size: 12pt;
}

